{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}
{% block head %}
     <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
  <!-- Load the coco-ssd model. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>

  <!-- <script src='{{url_for("static",filename="js/jquery.js")}}'></script> -->
  
  <script src='{{url_for("static",filename="js/webcam.js")}}'></script>
  <style>
         body {
         font: 400 15px Lato, sans-serif;
         line-height: 1.8;
         color: #818181;
         }
         .navbar {
         font-family: Montserrat, sans-serif;
         }
      </style>
{% endblock %}
{% block content %}
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Identification Dashboard!</h1>
          <p>This is monitoring dashboard for dynamic authentication system.</p>
          <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more »</a></p>
        </div>
      </div>
<!-- partial:index.partial.html -->
<div>
  <div class="row" style="justify-content: center;">
<h2 id="user"> </h2>
</div>

<div id="app">
  <div id="cam1"></div>
  <div id="cam2"></div>
</div>
<div>
  <button id="btn" class="btn btn-primary">start</button>
</div>
<div id="hide" style="display: flex;">
<canvas id="canvas1" crossorigin='anonymous' style="display: none;"></canvas>

<img id="gait1" src="">
</div>

<div class="container" style="margin-left: auto;">
  <div class="row" style="justify-content: center;">
<button id='allow'  class="btn btn-success" style="margin-right: 20px;">Grant access</button>
<button id='deny' disabled='true' class="btn btn-danger">Deny access</button>
</div>
<br/>
</div>
<button id='train_it' style="display: none;"><h2>train all</h2></button>

</div>
</main>
<!-- Modal -->
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Grant Access</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="user_name" placeholder="Name">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="vis" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Visitor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="temp" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Temporary
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="perm" value="option3">
          <label class="form-check-label" for="gridRadios3">
            Permanent
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
  <label for="example-date-input" class="col-2 col-form-label">Date</label>
  <div class="col-10">
    <input class="form-control" type="date" value="2011-08-19" id="date">
  </div>
</div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button id='go' type="submit" class="btn btn-warning">Allow User</button>
    </div>
  </div>
</form>
                  <!-- <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">Visitor</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Temporary</label>
</div>

<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Permanent</label>
</div>
                  <div class="row" style="justify-content: center;">
                    <input id='user_name' disabled='true' style="margin-right: 20px; display: none;" />
                    <button id='go' disabled='true' class="btn btn-warning" style="display: none;">allow user</button>
                  </div> -->
                  <div class="modal-footer">
                     <button id="modal-videos-close" type="button" class="btn btn-secondary">Close</button>
                  </div>
               </div>
            </div>
         </div>
</body>
</html>
<!-- partial -->

  <script  src='{{url_for("static",filename="js/script.js")}}'>
   
  </script>
{% endblock %}
